body {
  font-size: 100%;
  font-family: arial;
}

#page-header,
#page-footer {
  background-color: navy;
  color: white;
}

.menu-item > a,
.menu-item > a:visited {
  text-decoration: none;
  color: blue;
}

.menu-item:hover > a {
  text-decoration: underline;
}

.field-name {
  font-weight: bold;
}
